In [3]:
import pandas as pd

In [1]:
file = [
    'slope/slope1.csv',
    'slope/slope2.csv',
    'slope/slope3.csv',
    'slope/slope4.csv',
    'slope/slope5.csv',
]

In [4]:
# merging two csv files
df = pd.concat(
    map(pd.read_csv, file), ignore_index=True)
df.head()

      slope  system:index   name
0  0.000000             0  node0
1  2.075604             1  node1
2  2.075599             2  node2
3  0.933516             3  node3
4  0.927410             4  node4

In [5]:
len(df)

19824

In [6]:
# merge this column to the regression data csv
df2 = pd.read_csv('regression_data.csv')
df2['slope'] = df['slope']
df2.head()

,latitude,longitude,region,state,postcode,geometry,flood_risk,distance,kawasan_banjir,latitude_kb,longitude_kb,kedalaman_banjir,month_kb,altitude,slope
0,6.402858,100.098777,Kangar,Perlis,1000,POINT (11142944.906933343 714251.0946146951),False,4245.737601,Kampung Nelayan,6.4040,100.1369,0.6,4.0,0,0.000000
1,6.365790,100.188445,Kangar,Perlis,1000,POINT (11152926.669637946 710098.9597010214),False,4532.533863,Kampung Sentua,6.4051,100.1981,0.2,10.0,4,2.075604
2,6.360280,100.212395,Kangar,Perlis,1000,POINT (11155592.793706343 709481.7137045604),False,5266.664356,Kampung Sentua,6.4051,100.1981,0.2,10.0,5,2.075599
3,6.557335,100.314105,Kangar,Perlis,1000,POINT (11166915.132510776 731557.9727265495),False,8652.136771,Taman Beseri Jaya,6.5590,100.2364,0.6,5.0,59,0.933516
4,6.395771,100.230483,Kangar,Perlis,1000,POINT (11157606.329523865 713457.2321468537),False,3753.265280,Kampung Sentua,6.4051,100.1981,0.2,10.0,5,0.927410

In [7]:
df2.tail()

,latitude,longitude,region,state,postcode,geometry,flood_risk,distance,kawasan_banjir,latitude_kb,longitude_kb,kedalaman_banjir,month_kb,altitude,slope
19819,4.861237,115.406857,Lawas,Sarawak,98857,POINT (12847032.566424089 541800.8265352033),True,317.342199,Bandar Lawas,4.859,115.4051,0.15,9.0,11,4.143626
19820,4.861249,115.406919,Lawas,Sarawak,98857,POINT (12847039.490496416 541802.1935578815),True,322.719373,Bandar Lawas,4.859,115.4051,0.15,9.0,10,2.931484
19821,4.861206,115.406885,Lawas,Sarawak,98857,POINT (12847035.67223788 541797.4409309261),True,316.622942,Bandar Lawas,4.859,115.4051,0.15,9.0,11,4.143626
19822,4.861273,115.406945,Lawas,Sarawak,98857,POINT (12847042.395935126 541804.9198945377),True,326.665809,Bandar Lawas,4.859,115.4051,0.15,9.0,10,2.931484
19823,4.861271,115.406852,Lawas,Sarawak,98857,POINT (12847032.043222483 541804.6331057694),True,320.029117,Bandar Lawas,4.859,115.4051,0.15,9.0,11,4.143626

In [8]:
df2.to_csv('regression_data.csv', index=False)